@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;700&family=Ropa+Sans&family=Rubik:wght@300;500;700&display=swap');

html {
    scroll-behavior: smooth;
}



body {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    margin: 0;
    padding: 0;
}


:root {
    --main-color: #3F3F59;
    --secondary-color: #FFFFFF;
    --ternary-color: #BDDB4B;
    --header-fontsize: 4rem;
    --body-fontsize: 1.5rem;
}


@media screen and (max-width: 768px) {
    :root {
        --header-fontsize: 2.5rem !important;
        --body-fontsize: 1.3rem !important;
    }

}




nav {
    padding: 2rem 1rem;
    display: flex;
    align-content: center;
    justify-content: space-between;
}




.header-nav {
    position: fixed;
    top: 0;
    background-color: var(--secondary-color, #FFFFFF);
    width: 100%;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}


.body-text {
    font-size: var(--body-fontsize, 1.5rem);

}



nav ul.nav-links {
    display: flex;
    height: 100%;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

}


nav ul.menu-links {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 80px;
    z-index: 2000;
    background-color: white;
    border-radius: 10px;
    padding: 8px 8px;
    height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: height 1s ease-in-out;

}


.show-menu {
    height: 220px !important;
    opacity: 1 !important;

}

nav ul.menu-links li {
    padding: 8px 16px;
    transition: all 0.3s ease-in-out;
    border-top: 1px solid #eee;
}





nav ul li a {
    color: var(--main-color, #3F3F59);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
    color: var(--ternary-color, #BDDB4B);
}

@media screen and (max-width: 768px) {
    nav ul.nav-links {
        display: none;
    }

}

nav ul li {
    padding: 0 1rem;
}


nav.hidden {
    transform: translateY(-100%);
    transition: transform 0.3s;
}

.landing-page {

    background-color: var(--main-color, #3F3F59);
    color: var(--secondary-color, #FFFFFF);
    padding: 10rem 0;
}

.landing-page>.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

@media screen and (max-width: 768px) {
    .landing-page>.container {
        grid-template-columns: 1fr;
    }

}


.landing-page .image-landing-page {
    display: grid;
    max-width: 100%;
    place-items: center;
}


@media screen and (max-width: 540px) {
    .landing-page .image-landing-page {
        display: none;
    }

}


.landing-page img {
    max-width: 100%;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
}

@media screen and (max-width: 568px) {
    .landing-page img {
        width: 100%;
        aspect-ratio: 1/1;
    }

}



.landing-page .content-description {
    font-size: 1.5rem;
    overflow: hidden;
}

@media screen and (min-width: 768px) {
    .landing-page .content-description {
        padding-top: 3rem;
    }

}

@media screen and (max-width: 768px) {
    .landing-page .content-description {
        text-align: center;
        padding-top: 2rem;
    }

}

.main-title {
    overflow: hidden;
    /* Hide overflow characters */
    font-size: var(--header-fontsize, 4rem);
    margin-bottom: 1rem;
}







.body-text {
    font-size: var(--body-fontsize, 2rem);

}



@media screen and (min-width: 1730px) {
    .intro-text {
        width: 60%;
    }

}


#main-span {
    color: var(--ternary-color, #BDDB4B);
}

.icons {
    display: flex;
    margin-top: 2rem;
}

@media screen and (max-width: 768px) {
    .icons {
        justify-content: center;
    }
}

.icon-link {
    color: var(--secondary-color, #FFFFFF);
    font-size: 44px;
    color: #fff;
    transform: translate(200%);
    opacity: 0;
}


.transition-first {
    transition: scale 0.5s ease-in-out, color 0.5s ease-in-out, opacity .7s .5s ease-in-out, transform .7s .5s ease-in-out;

}


.transition-second {
    transition: scale 0.5s ease-in-out, color 0.5s ease-in-out, opacity .7s 1s ease-in-out, transform .7s 1s ease-in-out;

}

.transition-third {
    transition: scale 0.5s ease-in-out, color 0.5s ease-in-out, opacity .7s 1.5s ease-in-out, transform .7s 1.5s ease-in-out;

}



.icon-link-show {
    transform: translate(0%);
    opacity: 1;
}

.intro-header {
    margin-left: -400px;
}

@media screen and (max-width: 1024px) {
    .intro-header {
        margin-left: 0;
    }

}




.header {
    color: var(--main-color, #3F3F59);
    text-align: center;
    font-size: var(--header-fontsize, 4rem);
    text-transform: uppercase;
    margin-bottom: 3rem;
    margin-top: 3rem;
}



.icon-link:hover {
    color: var(--ternary-color, #BDDB4B);
    scale: 1.2;
}

.icons a {
    padding: 0 1rem;
}

.box-decorator {
    height: 600px;

    background-color: var(--main-color, #3F3F59);
}

@media screen and (max-width: 1024px) {
    .box-decorator {
        display: none;
    }

}

.main-container {
    display: grid;
    grid-template-columns: 400px 1fr;
}

@media screen and (max-width: 1024px) {
    .main-container {
        grid-template-columns: 1fr;
    }

}

.card-one {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

@media screen and (max-width: 1024px) {
    .card-one {
        grid-template-columns: 1fr;
    }
}

.card-one .image {
    margin-left: -100px;
}

@media screen and (max-width: 1024px) {
    .card-one .image {
        margin-left: 0;
        padding: 2rem;
    }

}

.services {
    padding: 2rem 0;
}


.services .card {
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
}


.card img {
    max-width: 100%;
    height: 420px
}

@media screen and (max-width: 1024px) {
    .card img {
        height: auto !important;
    }

}

.card .img {
    display: grid;
    place-items: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
}

.cards .card {
    border-radius: 10px;
    scale: .5;
    transition: scale 0.4s linear;
}

@media screen and (max-width: 1024px) {
    .cards .card {
        scale: 1 !important;
    }

}


.service-card-show {
    scale: 1 !important;
}


.cards .card .content {
    padding: 2rem;
}


.project {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
    .project {
        grid-template-columns: 1fr;
    }

}

.project img {
    width: 100%;
    height: 400px;
}

.project .project-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.project .project-description {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.project .project-description span {
    display: block;
}


.project .icons-links {
    margin-top: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

.project .icons-links a {
    margin-right: 16px;
}


.project .icons-links img {
    width: 48px;
    height: 48px;
}

.hide {
    transform: translateY(-100%);
}



.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
    margin-right: 10px;
    margin-bottom: 5px;
}





.main-title {
    overflow: hidden;
    white-space: nowrap;
    font-size: var(--header-fontsize, 4rem);
    margin-bottom: 1rem;
}


.intro-text {
    padding-left: 32px;
    padding-right: 32px;
    border-right: #333 1px solid;
}


@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-cursor {
    50% {
        border-color: transparent
    }

}


.div-- {
    height: 16px;
}

.contact-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
    align-items: end;
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    .contact-content {
        grid-template-columns: 1fr;
    }

}

.buttons {
    place-self: end;
}



@media screen and (max-width: 1024px) {
    .buttons {
        place-self: center;
        width: 100%;
    }

    .buttons>* {
        margin-bottom: 1rem;
        width: 100%;
    }
}

.contact {
    margin-bottom: 16px;
}

.footer {
    background-color: var(--main-color, #3F3F59);
    color: var(--secondary-color, #FFFFFF);
    padding: 2rem 0;
}

.footer p {
    width: 100%;
    text-align: center;
}

.smart-auth-android {
    transition-duration: 0.6s, 0.6s, .5s;
    transition-delay: 2s 2s 0s;
    transition-timing-function: ease-in-out;
}



.smart-auth-backend {
    transition-duration: 0.8s, .8s, .5s;
    transition-delay: 2s 2s 0s;
    transition-timing-function: ease-in-out;
}


.smart-auth-treatment {
    transition-duration: 1s, 1s, .5s;
    transition-delay: 2s 2s 0s;
    transition-timing-function: ease-in-out;
}


.link-smart-auth {
    display: inline-block;
    transform: translateX(500%);
    opacity: 0;
    transition-property: transform, opacity, scale;
}


.weather-station {
    display: inline-block;
    transform: translateX(500%);
    opacity: 0;
    transition-property: transform, opacity, scale;
}









.link-car-allocation {
    display: inline-block;
    transform: translateX(500%);
    opacity: 0;
    transition-property: transform, opacity, scale;
}


.link:hover {
    scale: 1.3;
}

.link-smart-auth-show {
    transform: translate(0%);
    opacity: 1;
}



.link-smart-auth-show {
    transform: translate(0%);
    opacity: 1;
}


.menu-icon {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    .menu-icon {
        display: block;
    }
}

.alert {
    margin-top: 2rem;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}